.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

#client ignore rules

client/node_modules/
client/dist/
client/.env
client/.env.local
client/.env.*.local
.env


# Backend ignore rules
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
backend/.env
backend/venv/
backend/
.env



# Docker & Database Ignore Rules

.docker/
